# Firebase Client SDK
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBQrrsFxbGXP4jeB28YFTtEOADE-bC6ZaE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=onepercent-2656a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=onepercent-2656a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=onepercent-2656a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=524523412475
NEXT_PUBLIC_FIREBASE_APP_ID=1:524523412475:web:5d7cc6592f59f9caf3095e

# Firebase Admin SDK (server only)
FIREBASE_ADMIN_PROJECT_ID=onepercent-2656a
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-xxxxx@onepercent-2656a.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SoTcDU3wpc8231
RAZORPAY_KEY_SECRET=CW5mYWf2C5n708uiAKoKv6BE
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx

# Bunny.net
BUNNY_STORAGE_API_KEY=67e1b1aa-9880-4b79-9832-97f50062bc3c71a79843-8156-409d-8053-8d5e3d608f01
BUNNY_LIBRARY_ID=658896
BUNNY_CDN_HOSTNAME=vz-50d4deba-506.b-cdn.net
BUNNY_TOKEN_SECRET=your_token_authentication_key
BUNNY_STREAM_API_KEY=860c2575-ec1b-4fab-b71eac6db7b2-68bd-4d78
